<button onClick ="$('#{id}').tableExport({type: 'excel', escape: 'false'});" class="btn btn-success">Export XLS</button>
<button onClick ="$('#{id}').tableExport({type:'doc',escape:'false'});" class="btn btn-primary">Export WORD</button>
<!--<button onClick ="$('#{id}').tableExport({type:'powerpoint',escape:'false'});" class="btn btn-info">Export POWERPOINT</button>-->
<!--<button  onClick ="$('#{id}').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});" class="btn btn-danger" >Export PDF</button>-->
        